h1{
    font-size:6em;
    margin:0;
}

.btn{
    border-radius:1em;

}
h2{
    font-size:4em;
    margin:0;
    line-height: 1;
}
p{font-size: 16px;;}

.display{
    background-color:rgba(255,255,255,0.5);
    border-radius:1em;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}